name: Java Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17

      - name: Set up Maven
        uses: actions/setup-java@v2
        with:
          java-version: 11
          maven-version: 3.9.5 # Adjust the Maven version if needed

      - name: Build with Maven
        run: mvn clean install

      - name: Run Tests
        run: mvn test
